extends layout

block content
	div#blogtest(data-editable data-name="blogcontent")
		p Welcome to my blog

		h1 todo
		ul 
			li: s set up pouchdb and sync with cloudant
			li set up passport.js authentication
			li: s deploy to heroku
			li figure out hierarchy/tagging system for database
			li write scripts for creating new posts
			li try to use vuejs to render this stuff (at this point we might need to get rid of pug, but probably not?)
			li https://auth0.com/blog/create-an-app-in-vuejs-2/
				p - probably want to read this first
			li once i can display lots of posts, figure out how i will load them...
			li get the bookmark thingamajig idea i had integrated with contenttools
			li I kind of want images for each post to be displayed on the right side of the screen or they could be in fixed popups or image loads could be toggled
			li remove add font size + key listener // font families
			li add tool to contenttools to add a term/definition html tag + functionality
			li panel viewing + possible iframe mobile webbrowser optimized for dictionary, wikipedia, etc
			li math equations and code blocks
			li drawing and mind maps
			li gantt chart
			li you name it.. iphone app?
			li maybe create drawable/scaleable text divs - like the images
			li tabs?
			li "notebooks"
