- var user = "jordan"

doctype html
html
  head
    title Tketl Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' type="text/css" href="/vendor/contenttools/content-tools.min.css")
    //- contenttools styles
    style .author { font-style: italic; font-weight: bold; }
  body
    block content
    // scripts
  
  if user == "jordan"
    script(src="/vendor/jquery-3.2.0.min.js")
    script(src="/vendor/contenttools/content-tools.min.js")
    script(src="/vendor/contenttools/editor.js")
    script(src="/vendor/vue.js")
    //database layer
    script(src="/vendor/pouchdb-6.1.2.min.js")
    script(src="/javascripts/database.js")